In [65]:
import pandas as pd
import numpy as np

In [66]:
test = pd.read_excel('DataScientist_009749_Dataset.xlsx', index_col=0)

In [67]:
test.head()

,NWP (£m),NWP (£m) .1,NWP (£m) .2,NWP (£m) .3,NWP (£m) .4,SCR (£m),SCR (£m).1,SCR (£m).2,SCR (£m).3,SCR (£m).4,...,Total liabilities (£m),Total liabilities (£m).1,Total liabilities (£m).2,Total liabilities (£m).3,Total liabilities (£m).4,Excess of assets over liabilities (£m) [= equity],Excess of assets over liabilities (£m) [= equity].1,Excess of assets over liabilities (£m) [= equity].2,Excess of assets over liabilities (£m) [= equity].3,Excess of assets over liabilities (£m) [= equity].4
NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
Firm 1,-17754.100486,0,0,0,0,2021.321862,0.0,0,0,0,...,40171.683156,0,0,0,0,1243.924991,4.398725,0,0,0
Firm 2,9.244369,0.098771,40.812426,35.643071,13.626145,16.459756,15.009073,14.227214,15.037066,1.591638,...,7.970519,12.796789,11.332857,6.73019,16.173862,8.755261,48.425189,0.070823,43.36838,12.456319
Firm 3,0,0.80613,36.620199,86.630018,54.74418,486.887796,495.786299,626.612217,81.242579,362.092922,...,68.000844,1592.310597,1005.328927,593.689101,374.712155,210.918808,100.776891,87.586067,922.487659,412.466207
Firm 4,19677.453353,41072.816156,20885.506445,14719.672914,49204.465136,15975.652771,15367.887099,10797.123319,22788.359468,16090.31042,...,48416.743356,30870.226541,68145.069079,92600.140108,92273.053968,24862.167211,7191.961836,12910.346383,12586.973993,24127.839035

In [68]:
test.columns = pd.MultiIndex.from_arrays([test.columns, test.iloc[0].values])
test = test.iloc[1:]

In [69]:
test

,NWP (£m),NWP (£m) .1,NWP (£m) .2,NWP (£m) .3,NWP (£m) .4,SCR (£m),SCR (£m).1,SCR (£m).2,SCR (£m).3,SCR (£m).4,...,Total liabilities (£m),Total liabilities (£m).1,Total liabilities (£m).2,Total liabilities (£m).3,Total liabilities (£m).4,Excess of assets over liabilities (£m) [= equity],Excess of assets over liabilities (£m) [= equity].1,Excess of assets over liabilities (£m) [= equity].2,Excess of assets over liabilities (£m) [= equity].3,Excess of assets over liabilities (£m) [= equity].4
,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
Firm 1,-17754.100486,0,0,0,0,2021.321862,0.0,0,0,0,...,40171.683156,0,0,0,0,1243.924991,4.398725,0,0,0
Firm 2,9.244369,0.098771,40.812426,35.643071,13.626145,16.459756,15.009073,14.227214,15.037066,1.591638,...,7.970519,12.796789,11.332857,6.73019,16.173862,8.755261,48.425189,0.070823,43.36838,12.456319
Firm 3,0,0.80613,36.620199,86.630018,54.74418,486.887796,495.786299,626.612217,81.242579,362.092922,...,68.000844,1592.310597,1005.328927,593.689101,374.712155,210.918808,100.776891,87.586067,922.487659,412.466207
Firm 4,19677.453353,41072.816156,20885.506445,14719.672914,49204.465136,15975.652771,15367.887099,10797.123319,22788.359468,16090.31042,...,48416.743356,30870.226541,68145.069079,92600.140108,92273.053968,24862.167211,7191.961836,12910.346383,12586.973993,24127.839035
Firm 5,128.812208,10.407371,79.579663,79.423623,61.727295,32.742279,43.954039,31.622572,30.119285,91.515289,...,267.458967,22.979292,69.343245,16.83747,106.179543,262.68353,7.592281,96.945192,104.609768,103.180972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Firm 321,0,0,-0.167178,-6.813367,31.258806,0,0.365214,70.399156,68.655722,175.631396,...,0,0.005647,1776.379248,1843.139217,10455.584133,0,0.021877,23.475958,125.140116,60.013312
Firm 322,3315.466643,4136.476625,2192.750865,2252.917257,2780.628432,578.238997,1926.540266,1366.552217,849.073657,1571.967374,...,5978.084709,5250.432938,4906.432272,6204.396397,5566.091662,3860.015668,2114.645213,3198.394329,1029.870659,3640.241631
Firm 323,0,0,0,0,0,6.459131,28.03774,5.689804,1.674462,2.456778,...,40.153398,33.497286,30.445115,17.823604,13.01995,73.65038,88.869984,92.834958,91.194544,2.725257
Firm 324,29.811172,21.003008,13.55174,6.145755,49.793157,45.967315,57.3232,36.91081,1.012305,37.29448,...,253.309101,353.395687,273.73697,354.965671,298.298975,61.39788,63.08469,73.016922,11.684645,21.921881
Firm 325,108.471899,496.29603,437.217641,120.652291,0,402.002179,408.272986,477.423649,346.976664,0,...,673.343922,989.011927,1762.579368,1487.32319,0,183.26471,124.780162,632.096113,592.454455,0

In [70]:
df1 = pd.melt(test, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=False)

In [71]:
var_list = ["NWP (£m) ","SCR (£m)","Excess of assets over liabilities (£m) [= equity]","EoF for SCR (£m)","Total assets (£m)","SCR coverage ratio","GWP (£m)","Total liabilities (£m)"]

In [72]:
num_list = ["1","2","3","4"]

In [73]:
for i in var_list:
    for j in num_list:
        rep = i+"."+j
        df1["variable_0"] = np.where(df1["variable_0"]==rep,i,df1["variable_0"])

In [74]:
df1["variable_0"].value_counts()

variable_0
NWP (£m)                                             1625
SCR (£m)                                             1625
EoF for SCR (£m)                                     1625
SCR coverage ratio                                   1625
GWP (£m)                                             1625
Total assets (£m)                                    1625
Total liabilities (£m)                               1625
Excess of assets over liabilities (£m) [= equity]    1625
Name: count, dtype: int64

In [75]:
df1

,variable_0,variable_1,value
Firm 1,NWP (£m),2016YE,-17754.100486
Firm 2,NWP (£m),2016YE,9.244369
Firm 3,NWP (£m),2016YE,0
Firm 4,NWP (£m),2016YE,19677.453353
Firm 5,NWP (£m),2016YE,128.812208
...,...,...,...
Firm 321,Excess of assets over liabilities (£m) [= equity],2020YE,60.013312
Firm 322,Excess of assets over liabilities (£m) [= equity],2020YE,3640.241631
Firm 323,Excess of assets over liabilities (£m) [= equity],2020YE,2.725257
Firm 324,Excess of assets over liabilities (£m) [= equity],2020YE,21.921881
Firm 325,Excess of assets over liabilities (£m) [= equity],2020YE,0

In [76]:
df1 = df1.reset_index()

In [77]:
df1 = df1.pivot(index = ["index","variable_1"],columns='variable_0', values='value')

In [78]:
df1 = df1.reset_index()

In [79]:
df1.columns

Index(['index', 'variable_1', 'EoF for SCR (£m)',
       'Excess of assets over liabilities (£m) [= equity]', 'GWP (£m)',
       'NWP (£m) ', 'SCR (£m)', 'SCR coverage ratio', 'Total assets (£m)',
       'Total liabilities (£m)'],
      dtype='object', name='variable_0')

In [80]:
test1 = pd.read_excel('DataScientist_009749_Dataset.xlsx', sheet_name="Dataset 2 - Underwriting", index_col=0)

In [81]:
test1

,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
Firm 3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,0.057599,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Firm 452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firm 453,8.386235,-1.739109,-1.856683,-0.76595,-3.383745,1.694955,148.978198,253.854632,136.672432,506.890256,...,0,0,0,0,0,0,0,0,0,0
Firm 454,2.000729,3.68701,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,8.056085,...,0.124174,0.16722,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
Firm 455,0,4.549259,1.604993,9.103593,185.079296,0,39.530014,15.362991,45.619029,203.530493,...,0,1.689138,0.89107,0.905046,0.892326,0,1.336544,0.793408,1.223609,4.331669
Firm 456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
test1.columns = pd.MultiIndex.from_arrays([test1.columns, test1.iloc[0].values])
test1 = test1.iloc[1:]

In [83]:
test1

,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
Firm 3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,0.057599,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
Firm 5,48.738606,425.748869,691.379669,174.10126,5.927624,8.386701,253.149414,587.461209,226.977435,722.239498,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Firm 452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Firm 453,8.386235,-1.739109,-1.856683,-0.76595,-3.383745,1.694955,148.978198,253.854632,136.672432,506.890256,...,0,0,0,0,0,0,0,0,0,0
Firm 454,2.000729,3.68701,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,8.056085,...,0.124174,0.16722,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
Firm 455,0,4.549259,1.604993,9.103593,185.079296,0,39.530014,15.362991,45.619029,203.530493,...,0,1.689138,0.89107,0.905046,0.892326,0,1.336544,0.793408,1.223609,4.331669
Firm 456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
df2 = pd.melt(test1, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=False)

In [85]:
var_list = ["Net expense ratio","Pure gross claims ratio","Gross expense ratio","Gross combined ratio",
            "Net combined ratio","Gross claims incurred (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m)",
            "Net BEL (inc. TPs as a whole, pre-TMTP) (£m)","Pure net claims ratio"]

In [86]:
num_list = ["1","2","3","4"]

In [87]:
for i in var_list:
    for j in num_list:
        rep = i+"."+j
        df2["variable_0"] = np.where(df2["variable_0"]==rep,i,df2["variable_0"])

In [88]:
df2["variable_0"].value_counts()

variable_0
Gross claims incurred (£m)                      2280
Gross BEL (inc. TPs as whole, pre-TMTP) (£m)    2280
Net BEL (inc. TPs as a whole, pre-TMTP) (£m)    2280
Pure net claims ratio                           2280
Net expense ratio                               2280
Net combined ratio                              2280
Pure gross claims ratio                         2280
Gross expense ratio                             2280
Gross combined ratio                            2280
Name: count, dtype: int64

In [89]:
df2

                          variable_0 variable_1      value
Firm 1    Gross claims incurred (£m)     2016YE          0
Firm 2    Gross claims incurred (£m)     2016YE  44.467865
Firm 3    Gross claims incurred (£m)     2016YE          0
Firm 4    Gross claims incurred (£m)     2016YE  14.340938
Firm 5    Gross claims incurred (£m)     2016YE  48.738606
...                              ...        ...        ...
Firm 452        Gross combined ratio     2020YE          0
Firm 453        Gross combined ratio     2020YE          0
Firm 454        Gross combined ratio     2020YE   0.352309
Firm 455        Gross combined ratio     2020YE   4.331669
Firm 456        Gross combined ratio     2020YE          0

[20520 rows x 3 columns]

In [90]:
df2 = df2.reset_index()

In [91]:
df2 = df2.pivot(index = ["index","variable_1"],columns='variable_0', values='value')

In [92]:
df2 = df2.reset_index()

In [93]:
df2.dtypes

variable_0
index                                           object
variable_1                                      object
Gross BEL (inc. TPs as whole, pre-TMTP) (£m)    object
Gross claims incurred (£m)                      object
Gross combined ratio                            object
Gross expense ratio                             object
Net BEL (inc. TPs as a whole, pre-TMTP) (£m)    object
Net combined ratio                              object
Net expense ratio                               object
Pure gross claims ratio                         object
Pure net claims ratio                           object
dtype: object

In [94]:
df2.describe()

variable_0,index,variable_1,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)",Gross claims incurred (£m),Gross combined ratio,Gross expense ratio,"Net BEL (inc. TPs as a whole, pre-TMTP) (£m)",Net combined ratio,Net expense ratio,Pure gross claims ratio,Pure net claims ratio
count,2280,2280,2280,2280,2280,2280,2280,2280,2280,2280,2280
unique,456,5,1450,1418,1268,1266,1436,1236,1235,1254,1222
top,Firm 1,2016YE,0,0,0,0,0,0,0,0,0
freq,5,456,831,863,1013,1015,845,1045,1046,1027,1059

In [95]:
df1

variable_0,index,variable_1,EoF for SCR (£m),Excess of assets over liabilities (£m) [= equity],GWP (£m),NWP (£m),SCR (£m),SCR coverage ratio,Total assets (£m),Total liabilities (£m)
0,Firm 1,2016YE,2416.559785,1243.924991,46.76803,-17754.100486,2021.321862,0.16252,63676.869102,40171.683156
1,Firm 1,2017YE,3.796177,4.398725,0,0,0.0,55887003.057573,9.566096,0
2,Firm 1,2018YE,0,0,0,0,0,0,0,0
3,Firm 1,2019YE,0,0,0,0,0,0,0,0
4,Firm 1,2020YE,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1620,Firm 99,2016YE,546.542795,64.292877,178.69985,281.402333,121.881603,2.142808,652.079271,351.404429
1621,Firm 99,2017YE,49.700708,480.426485,557.712342,120.760121,150.899839,1.211951,1244.259065,616.968029
1622,Firm 99,2018YE,624.276669,634.150357,421.335272,308.352528,220.609427,0.753669,1825.252764,239.030849
1623,Firm 99,2019YE,422.598443,37.813704,932.918985,112.029932,413.881164,0.205957,1007.841681,1119.7351
1624,Firm 99,2020YE,74.948404,245.321991,465.685458,142.505098,449.432881,2.503271,1340.934153,1483.890268

In [109]:
merged = df1.merge(df2,how="inner",on=["index","variable_1"])

In [127]:
merged = merged.sort_values(by=['company', 'year'])

In [128]:
merged

variable_0,company,year,EoF for SCR (£m),Excess of assets over liabilities (£m) [= equity],GWP (£m),NWP (£m),SCR (£m),SCR coverage ratio,Total assets (£m),Total liabilities (£m),"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)",Gross claims incurred (£m),Gross combined ratio,Gross expense ratio,"Net BEL (inc. TPs as a whole, pre-TMTP) (£m)",Net combined ratio,Net expense ratio,Pure gross claims ratio,Pure net claims ratio
0,1,2016,2416.559785,1243.924991,46.768030,-17754.100486,2.021322e+03,1.625197e-01,63676.869102,40171.683156,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
1,1,2017,3.796177,4.398725,0.000000,0.000000,6.940043e-09,5.588700e+07,9.566096,0.000000,0.588994,0.005515,0.675051,77.251254,9.894597,71.298841,41.01306,17.534691,17.184308
2,1,2018,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
3,1,2019,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
4,1,2020,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1255,325,2016,34.357552,183.264710,416.840590,108.471899,4.020022e+02,2.528626e+00,2562.232751,673.343922,2.593578,1.476246,0.077135,0.012621,2.565287,0.000000,0.00000,0.235938,0.000000
1256,325,2017,390.368084,124.780162,268.849304,496.296030,4.082730e+02,1.705165e+00,526.087601,989.011927,23.363287,1.624370,0.009230,0.039664,3.426249,0.000000,0.00000,0.204776,0.000000
1257,325,2018,228.364506,632.096113,798.844001,437.217641,4.774236e+02,2.181026e+00,1006.111747,1762.579368,2.116674,4.620920,0.724871,0.029074,3.633354,0.000000,0.00000,0.357766,0.000000
1258,325,2019,335.854795,592.454455,314.507673,120.652291,3.469767e+02,7.520315e-01,2143.411774,1487.323190,5.418362,0.275563,0.430852,0.007590,6.254499,0.000000,0.00000,0.440079,0.000000
1259,325,2020,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,18.939055,0.238105,0.157979,0.045571,0.834391,0.000000,0.00000,0.077119,0.000000

In [111]:
#convert to numerical

In [112]:
merged = merged.rename(columns = {"index":"company","variable_1":"year"})

In [113]:
merged['company'] = merged['company'].str[4:]

In [115]:
merged['year'] = merged['year'].str[:-2]

In [118]:
merged.dtypes

variable_0
company                                              object
year                                                 object
EoF for SCR (£m)                                     object
Excess of assets over liabilities (£m) [= equity]    object
GWP (£m)                                             object
NWP (£m)                                             object
SCR (£m)                                             object
SCR coverage ratio                                   object
Total assets (£m)                                    object
Total liabilities (£m)                               object
Gross BEL (inc. TPs as whole, pre-TMTP) (£m)         object
Gross claims incurred (£m)                           object
Gross combined ratio                                 object
Gross expense ratio                                  object
Net BEL (inc. TPs as a whole, pre-TMTP) (£m)         object
Net combined ratio                                   object
Net expense ratio                                    object
Pure gross claims ratio                              object
Pure net claims ratio                                object
dtype: object

In [124]:
#check for missing values
merged.isna().sum()

variable_0
company                                              0
year                                                 0
EoF for SCR (£m)                                     0
Excess of assets over liabilities (£m) [= equity]    0
GWP (£m)                                             0
NWP (£m)                                             0
SCR (£m)                                             0
SCR coverage ratio                                   0
Total assets (£m)                                    0
Total liabilities (£m)                               0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m)         0
Gross claims incurred (£m)                           0
Gross combined ratio                                 0
Gross expense ratio                                  0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m)         0
Net combined ratio                                   0
Net expense ratio                                    0
Pure gross claims ratio                              0
Pure net claims ratio                                0
dtype: int64

In [121]:
merged = merged.apply(pd.to_numeric)

In [129]:
merged.to_csv("data.csv")

In [130]:
merged.to_pickle("data.pkl")